.list {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
}

.item {
  color: #fff;
  border: 1px solid grey;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.author {
  /* margin: 0; */
}
.review {
  margin: 0;
  padding-bottom: 5px;
}
